@import 'fonts';

@mixin font {
    font-family: 'Cairo', sans-serif;
}

#home {
    height: 100vh;
    width: 100%;
    display: flex;
    .dropList {
        display: none;
    }
    .navigation {
        @include font;
        font-size: 20px;
        position: fixed;
        z-index: 2;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        background-color: rgba(255, 255, 255, 0.8);
        &__list {
            display: flex;
            padding-right: 50px;
        }
        &__element {
            padding: 10px 20px;
            margin: 20px 0;
        }
        .hire {
            background-color: rgba(244, 43, 3, 0.8);
        }
    }

    .links {
        position: relative;
        height: 100%;
        width: 30%;
        background-color: #f7af00;
        display: flex;
        z-index: 2;
        flex-direction: column;
        padding: 20px 30px;
        .link {
            height: 50px;
            width: 50px;
            margin: 10px 0;
            &:hover {
                opacity: 70%;
            }
        }
    }

    .introduceBox {
        position: relative;
        height: 100%;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        .introduce {
            display: flex;
            flex-direction: column;
            padding-left: 30px;
            .name {
                @include font;
                font-size: 70px;
                font-weight: 700;
                color: #f7af00;
                padding: 20px 0;
            }
            .spec {
                @include font;
                font-size: 30px;
            }
        }
        .photo {
            position: absolute;
            z-index: 3;
            bottom: 0;
            width: 45%;
            left: -25%;
        }
    }
}

@media (max-width: 1024px) {
    #home {
        .introduceBox {
            .introduce {
                .name {
                    font-size: 40px;
                }
            }
        }
    }
}

@media (max-width: 650px) {
    #home {
        @import 'hamburger';
        .navigation {
            background-color: rgba(255, 255, 255, 0.8);
            &__list {
                display: none;
                flex-direction: column;
                align-items: flex-end;
                padding: 0;
                margin: 50px 20px 0 0;
            }
            &__element {
                padding: 5px 10px;
                margin: 0;
            }
        }
    }
}

@media (max-width: 550px) {
    #home {
        .links {
            width: unset;
            padding: 10px 15px;
            .link {
                height: 30px;
                width: 30px;
                margin: 5px 0;
            }
        }

        .introduceBox {
            align-items: flex-start;
            padding-top: 100%;
            width: calc(100% - 60px);
            .introduce {
                .name {
                    font-size: 40px;
                }
            }
            .photo {
                width: 250px;
                height: 250px;
                object-fit: cover;
                object-position: 0 28%;
                border-radius: 50%;
                box-shadow: 0 0 10px #2b2b2b;
                bottom: unset;
                top: 15%;
                left: unset;
            }
        }
    }
}

@media (max-width: 375px) {
    #home {
        .introduceBox {
            padding-top: 85%;
            width: calc(100% - 60px);
            .introduce {
                .name {
                    font-size: 35px;
                }
                .spec {
                    font-size: 20px;
                }
            }

            .photo {
                width: 180px;
                height: 180px;
                z-index: 1;
                left: 30px;
            }
        }
    }
}
