#portfolio {
    background-color: #e3e3e3;
}

.portfolio__color {
    background-color: #e3e3e3;
}

.textCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0;
    h1 {
        @include font;
        font-size: 50px;
        font-weight: 700;
    }
}

.projects {
    display: flex;
    justify-content: center;
    .project {
        display: flex;
        width: 300px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            @include font;
            font-size: 25px;
            padding: 20px 0;
        }
        .project__img {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &:hover {
            .project__img {
                opacity: 0.8;
            }
        }
    }
}
